<ion-pane>
	<ion-header-bar class="bar-positive" ng-controller="HeaderController">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
		</div>
		<h1 class="title">Time Entries</h1>
	</ion-header-bar>

	<ion-content class="has-header" ng-controller="TimeEntryListController">
		<div class="list">
			<a class="item" href="#" collection-repeat="timeEntry in timeEntries" ng-click="showAlert()">
				<h2>{{ timeEntry.clientName }} - <strong ng-class="(timeEntry.status == 'Final') ? 'balanced' : 'energized'">{{ timeEntry.status }}</strong></h2>
				<span class="item-note">{{ (timeEntry.hours | fixedNumLength:2) + &quot;:&quot; + (timeEntry.minutes | fixedNumLength:2)  + &quot;:&quot; + (timeEntry.seconds | fixedNumLength:2) }}</span>
				<p>{{ timeEntry.matter }}</p>
			</a>
		</div>
	</ion-content>
</ion-pane>