<ion-pane>
	<ion-header-bar class="bar-positive" ng-controller="HeaderController">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
		</div>
		<h1 class="title">Settings</h1>
	</ion-header-bar>

	<ion-content class="has-header" ng-controller="SettingsController">
		<div class="list">
			<ion-item ng-click="setMyDetails()">
				<h2>My Details</h2>
				<p>{{ (settings.myDetails.name && settings.myDetails.email) ? settings.myDetails.name + " <" + settings.myDetails.email + ">" : "..." }}</p>
			</ion-item>
			<ion-item ng-click="setRecipientEmails()">
				<h2>Recipient Emails</h2>
				<span ng-repeat="email in settings.recipientEmails">{{ email.value }}<span ng-if="$index < settings.recipientEmails.length - 1">, </span></span>
			</ion-item>
			<ion-toggle ng-model="settings.timerModeAsDefault" toggle-class="toggle-positive" ng-change="setDefaultMode()">Timer Mode As Default</ion-toggle>
			<ion-item ng-click="setMinutesPerUnit()">
				<h2>Minutes per unit</h2>
				<p>{{ settings.minutesPerUnit || "..."}}</p>
			</ion-item>
		</div>
	</ion-content>
</ion-pane>