<ion-pane>
	<ion-header-bar class="bar-positive" ng-controller="HeaderController">
		<div class="buttons">
			<button class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()"></button>
		</div>
		<h1 class="title">Time Entries</h1>
	</ion-header-bar>

	<ion-content class="has-header" ng-controller="TimeEntryListController">
		<div class="card" ng-show="!timeEntries.length">
			<div class="item">
				<h2>
					<strong>Accumulated Time:</strong>
					{{ accumulatedTime.units + " " + ((accumulatedTime.units <= 1) ? "unit" : "units") + ", " + accumulatedTime.hours + &quot;:&quot; + (accumulatedTime.minutes | fixedNumLength:2)  + &quot;:&quot; + (accumulatedTime.seconds | fixedNumLength:2) }}
				</h2>
			</div>
			<div class="item item-text-wrap"><h2>No Time Entries Yet!</h2></div>
		</div>

		<div class="list card" ng-show="timeEntries.length">
			<div class="item">
				<h2>
					<strong>Accumulated Time:</strong>
					{{ accumulatedTime.units + " " + ((accumulatedTime.units <= 1) ? "unit" : "units") + ", " + accumulatedTime.hours + &quot;:&quot; + (accumulatedTime.minutes | fixedNumLength:2)  + &quot;:&quot; + (accumulatedTime.seconds | fixedNumLength:2) }}
				</h2>
			</div>
			<a class="item item-icon-right" ng-repeat="timeEntry in timeEntries | orderBy: '-dateSent'" ng-click="showDetails(timeEntry.id)">
				<h2><strong>{{ timeEntry.clientName || "..." }}</strong> - <strong ng-class="(timeEntry.sentAs == TIME_ENTRY_STATUSES.final) ? 'balanced' : 'energized'">{{ timeEntry.sentAs }}</strong></h2>
				<span class="item-note">{{ timeEntry.dateSent | date:"MM/dd/yyyy" }}</span>
				<h3><strong>Length:</strong> {{ timeEntry.units + " " + ((timeEntry.units <= 1) ? "unit" : "units") + ", " + (timeEntry.hours | fixedNumLength:2) + &quot;:&quot; + (timeEntry.minutes | fixedNumLength:2)  + &quot;:&quot; + (timeEntry.seconds | fixedNumLength:2) }}</h3>
				<h3><strong>Matter:</strong> {{ timeEntry.matter || "..." }}</h3>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</div>
	</ion-content>
</ion-pane>