<ion-view view-title="Strumble">
	<ion-nav-buttons side="secondary">
		<button class="button button-icon icon ion-ios-more-outline" ng-click="openPopover($event)"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="card" style="padding: 0px;">
				<ion-toggle toggle-class="toggle-positive" ng-model="timeEntryService.isTimerMode">Timer Mode</ion-toggle>
				<label class="item item-input">
					<span class="input-label">Client Name</span>
					<input type="text" placeholder="...">
				</label>
				<div class="item" style="padding: 0px;" ng-show="timeEntryService.isTimerMode">
					<label>
						<div class="timer-display">
							<ul>
								<li>
									<ul><li><h5>Units</h5></li></ul>
									<h1>{{ (timeEntryService.timerMode.getTime().units | fixedNumLength:2) || "00" }}</h1>
								</li>
								<li>
									<ul><li><h5>Hours</h5></li></ul>
									<h1>{{ (timeEntryService.timerMode.getTime().hours | fixedNumLength:2) || "00" }}</h1>
								</li>
								<li>
									<ul><li><h5>Minutes</h5></li></ul>
									<h1>{{ (timeEntryService.timerMode.getTime().minutes | fixedNumLength:2) || "00" }}</h1>
								</li>
								<li>
									<ul><li><h5>Seconds</h5></li></ul>
									<h1>{{ (timeEntryService.timerMode.getTime().seconds | fixedNumLength:2) || "00" }}</h1>
								</li>
							</ul>
						</div>
					</label>
					<div class="button-bar">
						<button class="button" ng-class="timeEntryService.timerMode.isTimerPlaying ? 'button-assertive icon ion-pause' : 'button-positive icon ion-play'" ng-click="toggleTimer()"></button>
						<button class="button button-dark icon ion-trash-b" ng-click="clearTimer()"></button>
					</div>
				</div>
				<div class="item" style="padding: 0px;" ng-hide="timeEntryService.isTimerMode">
					<label class="item-input">
						<span class="input-label">Units</span>
						<input type="number" placeholder="0" ng-model="timeEntryService.manualMode.units" />
					</label>
				</div>
			</div>
			<div class="card">
			<ion-item class="item-divider item-icon-right">What are you doing? <i class="icon ion-arrow-down-b"></i></ion-item>
				<label class="item item-input">
					<span class="input-label">Matter</span>
					<input type="text" placeholder="..." ng-model="timeEntryService.matter" />
				</label>
				<label class="item item-input">
					<span class="input-label">Phase</span>
					<input type="text" placeholder="..." ng-model="timeEntryService.phase" />
				</label>
				<label class="item item-input">
					<span class="input-label">Narration</span>
					<textarea placeholder="..." ng-model="timeEntryService.narration" rows="5" spellcheck="false"></textarea>
				</label>
			</div>
		</div>
	</ion-content>

	<div class="bar bar-footer bar-positive footer-button">
		<button class="button button-full button-clear icon ion-ios-paperplane" ng-click="send()"> Send</button>
	</div>
</ion-view>