<ion-pane>
	<ion-header-bar class="bar-positive" ng-controller="HeaderController">
		<h1 class="title">Strumble</h1>
		<div class="buttons">
			<button class="button button-icon icon ion-ios-more-outline" ng-click="openPopover($event)"></button>
		</div>
	</ion-header-bar>

	<ion-content class="has-header" ng-controller="TimerController">
		<ion-toggle ng-model="currentTimeEntry.isTimerMode" toggle-class="toggle-positive" ng-change="toggleMode()">Timer Mode</ion-toggle>
		<div class="card" style="padding-bottom: 0px;">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Client Name</span>
				<input type="text" placeholder="..." ng-model="currentTimeEntry.clientName">
			</label>

			<div ng-show="currentTimeEntry.isTimerMode" class="text-center">
				<label class="item">
					<div class="timer-display">
						<ul>
							<li>
								<ul><li><h5>Units</h5></li></ul>
								<h1>{{ (currentTimeEntry.units | fixedNumLength:2) }}</h1> 
							</li>
							<li>
								<ul><li><h5>Hour</h5></li></ul>
								<h1>{{ (currentTimeEntry.hours | fixedNumLength:2) }}</h1> 
							</li>
							<li>
								<ul><li><h5>Minutes</h5></li></ul>
								<h1>{{ (currentTimeEntry.minutes | fixedNumLength:2) }}</h1> 
							</li>
							<li>
								<ul><li><h5>Seconds</h5></li></ul>
								<h1>{{ (currentTimeEntry.seconds | fixedNumLength:2) }}</h1> 
							</li>
						</ul>
					</div>
				</label>
				<div class="button-bar">
					<button class="button" ng-class="timerService.isPlaying ? &apos;button-assertive icon ion-pause&apos; : &apos;button-positive icon ion-play&apos;" ng-click="toggleTimer()"></button>
					<button class="button button-stable icon ion-trash-b" ng-click="resetTimer()"></button>
				</div>
			</div>

			<div ng-hide="currentTimeEntry.isTimerMode">
				<label class="item item-input">
					<span class="input-label">Units</span>
					<input type="number" placeholder="0" ng-model="currentTimeEntry.units" />
				</label>
				<label class="item item-input">
					<span class="input-label">Hours</span>
					<input type="number" placeholder="0" ng-model="currentTimeEntry.hours" />
				</label>
				<label class="item item-input">
					<span class="input-label">Minutes</span>
					<input type="number" placeholder="0" ng-model="currentTimeEntry.minutes" />
				</label>
				<label class="item item-input">
					<span class="input-label">Seconds</span>
					<input type="number" placeholder="0" ng-model="currentTimeEntry.seconds" />
				</label>
			</div>
		</div>

		<div class="card">
			<a class="item item-icon-right" ui-sref="{{ APP_STATES.moreInfo }}" >What are you doing? <i class="icon ion-ios-arrow-thin-right"></i></a>
		</div>
	</ion-content>

	<div class="bar bar-footer bar-positive footer-button" ng-controller="SendController">
		<button class="button button-full button-clear icon ion-ios-paperplane" ng-click="send(true)"> Send</button>
	</div>
</ion-pane>