/* Empty. Add your own CSS if you like */
.timer-display {
	padding: 5% 0px 5% 0px;
	margin: 5% 0px 5% 0px;
	font-size: 4em;
}

div.footer-button button.button.button-full {
	width:100%;
	margin-top: 0
}

.wrapping-list .item-content, .wrapping-list .item {
	overflow: initial;
	white-space: initial;
}