/* Empty. Add your own CSS if you like */
.timer-display {
	padding: 0% 0px 5% 0px;
	margin: 5% 0px 5% 0px;
	font-size: 4em;
}

div.footer-button button.button.button-full {
	width:100%;
	margin-top: 0
}

.wrapping-list .item-content, .wrapping-list .item {
	overflow: initial;
	white-space: initial;
}
div.timer-display{
	display: table;
	margin: 0 auto;
	width: 100%;
}

div.timer-display > ul{
	position: relative;
	list-style-type:none;
}
div.timer-display > ul > li{
	float: left;
	width: 25%;
	margin: 0px auto;
	position: relative;
	/*background: red;*/
}
div.timer-display > ul > li > h1{
	font-size: 0.9em;
	color: #323841;
}
div.timer-display > ul > li > ul > li > h5{
	font-size: 15px;
	color: #323841;
}
div.timer-display > ul > li > ul > li{
	/*background: red;*/
	position: absolute;
	width: 100%;
	margin-top:5px;
}
div.timer-display > ul{
	/*background: red;*/
	/*display: inline;*/
}

/**
 * for the card accordion
 */
.card .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.1s all linear;
}

.card .item.item-accordion.ng-hide {
	line-height: 0px;
}

.card .item.item-accordion.ng-hide-add,
.card .item.item-accordion.ng-hide-remove {
	display: block !important;
}